<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .tweet-container {
        border: 1px solid #ccc;
        padding: 1rem;
        margin: 20px auto;
      }

      .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .tweet-text {
        margin-bottom: 10px;
      }

      .action-buttons {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
      }

      .action-buttons button {
        padding: 5px 10px;
        cursor: pointer;
      }
    </style>
    <title>Opinio</title>
    <script
      src="https://kit.fontawesome.com/9991938ad0.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body class="container">
    <div class="tweet-container">
      <div class="user-info">
        <img
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/78d0bcc3-418b-4f9c-a3bb-27afbe816c03/de8qqfg-5a5e39c2-bb68-4572-8f43-37d784543d21.png/v1/fill/w_894,h_894,q_70,strp/an_anonymous_user_icon___by_impossibleplay9_de8qqfg-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzc4ZDBiY2MzLTQxOGItNGY5Yy1hM2JiLTI3YWZiZTgxNmMwM1wvZGU4cXFmZy01YTVlMzljMi1iYjY4LTQ1NzItOGY0My0zN2Q3ODQ1NDNkMjEucG5nIiwid2lkdGgiOiI8PTEwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.EKJCQiJAeb5Dq3_FhtpFddUxVdikurux7K8YctBzsOA"
          alt="User Image"
        />
        <div>
          <strong>Harsh</strong>
        </div>
      </div>

      <div class="tweet-text m-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        architecto cum tempore consequuntur dolore tenetur itaque rerum, dolorem
        quibusdam reiciendis dolores ad quaerat illo molestias quae placeat.
        Consectetur, dolores quia.
      </div>

      <div class="action-buttons">
        <i class="fa-regular fa-thumbs-up fa-xl" style="color: #000000"></i>
        <i class="fa-regular fa-thumbs-down fa-xl" style="color: #000000"></i>
        <i class="fa-regular fa-comment fa-xl" style="color: #000000"></i>
      </div>
    </div>

    <div class="tweet-container">
      <div class="user-info">
        <img
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/78d0bcc3-418b-4f9c-a3bb-27afbe816c03/de8qqfg-5a5e39c2-bb68-4572-8f43-37d784543d21.png/v1/fill/w_894,h_894,q_70,strp/an_anonymous_user_icon___by_impossibleplay9_de8qqfg-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzc4ZDBiY2MzLTQxOGItNGY5Yy1hM2JiLTI3YWZiZTgxNmMwM1wvZGU4cXFmZy01YTVlMzljMi1iYjY4LTQ1NzItOGY0My0zN2Q3ODQ1NDNkMjEucG5nIiwid2lkdGgiOiI8PTEwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.EKJCQiJAeb5Dq3_FhtpFddUxVdikurux7K8YctBzsOA"
          alt="User Image"
        />
        <div>
          <strong>Harsh</strong>
        </div>
      </div>

      <div class="tweet-text m-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        architecto cum tempore consequuntur dolore tenetur itaque rerum, dolorem
        quibusdam reiciendis dolores ad quaerat illo molestias quae placeat.
        Consectetur, dolores quia.
      </div>

      <div class="action-buttons">
        <i class="fa-regular fa-thumbs-up fa-xl" style="color: #000000"></i>
        <i class="fa-regular fa-thumbs-down fa-xl" style="color: #000000"></i>
        <i class="fa-regular fa-comment fa-xl" style="color: #000000"></i>
      </div>
    </div>
  </body>
</html>
